@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.swiper {
  width: 100vw;
  height: 60vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}

.swiper-slide img {
  max-width: 100%;
}
.texto {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto h2 {
  color: white;
  font-size: 25px;
  text-align: center;
}
.slider-cel {
  display: block;
}
.slider-compu {
  display: none;
}
.about2 {
  width: 100%;
  margin: auto;
}
.container-about-2 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.item-about-2:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.item-about-2 img {
  max-width: 100%;
}
.item-about-2 p {
  text-align: justify;
  font-size: 15px;
}
.seccion-ventajas-implantes {
  width: 100%;
  margin: auto;
  background-color: #0082c9;
}
.seccion-ventajas-implantes h2 {
  text-align: center;
  color: white;
  padding: 10px;
}
.seccion-ventajas-implantes p {
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 0px 15px;
  text-align: justify;
}
.container-ventajas-implantes {
  width: 85%;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.secion-question {
  width: 100%;
  margin: auto;
}
.container-question {
  width: 85%;
  margin: auto;
}
.container-question h2 {
  text-align: center;
}
.container-question p {
  text-align: justify;
}

.galery-trabajo {
  width: 100%;
  margin: auto;
}
.galery-trabajo h2 {
  text-align: center;
  font-size: 25px;
  color: white;
}
.container-trabajo {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 10px 0px;
}
.item-galery-trabajo img {
  max-width: 100%;
}
.btn-contact {
  background-color: #25d366;
  color: white;
  width: 170px;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 12px;
}
.promo-implantes {
  width: 100%;
  padding: 15px 0px;
}
.promo-implantes h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 12px;
}
.promos-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: 90%;
  margin: auto;
}
.promos-section a img {
  max-width: 100%;
}
.faq-item {
  margin-bottom: 15px;
}

.faq-title {
  font-weight: 400;
  color: white;
}
.faq-title strong {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.faq-answer {
  margin-top: 5px;
  padding-left: 0px;
  font-size: 15px;
  text-align: justify;
  color: white;
}
.faq-title {
  cursor: pointer;
}

@media (min-width: 767px) {
  .slider-cel {
    display: none;
  }
  .slider-compu {
    display: block;
  }
  .swiper {
    width: 100vw;
    height: 100vh;
  }
  .texto h2 {
    color: white;
    font-size: 40px;
  }
  .container-about-2 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px 0px;
  }
  .item-about-2 img {
    width: 600px;
    height: 500px;
    object-fit: cover;
  }
  .item-about-2:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
  .item-about-2 h2 {
    text-align: left;
    font-size: 38px;
  }
  .item-about-2 p {
    text-align: justify;
    font-size: 17px;
  }

  .seccion-ventajas-implantes {
    width: 100%;
    margin: auto;
    background-color: #0082c9;
    padding: 45px 0px;
  }
  .seccion-ventajas-implantes h2 {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 35px;
  }
  .seccion-ventajas-implantes p {
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 0px 50px;
    text-align: center;
    font-size: 17px;
  }
  .container-ventajas-implantes .item-ventajas {
    width: 65%;
    margin: auto;
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .container-question {
    width: 80%;
    margin: auto;
    padding: 65px;
  }
  .container-question h2 {
    text-align: center;
    font-size: 35px;
  }
  .container-question p {
    text-align: justify;
    font-size: 17px;
  }

  .galery-trabajo {
    width: 100%;
    margin: auto;
    background-color: #0082c9;
    padding: 20px 0px;
  }
  .galery-trabajo h2 {
    text-align: center;
    font-size: 35px;
  }
  .container-trabajo {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0px;
  }
  .item-galery-trabajo img {
    max-width: 100%;
    transition: all 1s ease-in;
  }
  .item-galery-trabajo img:hover {
    transform: scale(0.9);
    transition: all 1s ease-in;
  }
  .btn-contact {
    background-color: #25d366;
    color: white;
    width: 220px;
    text-align: center;
    padding: 12px 7px;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.7s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .btn-contact:hover {
    transform: scale(0.9);
    transition: all 0.7s;
  }
  .icon-whats {
    font-size: 25px;
  }
  .promo-implantes {
    width: 100%;
    padding: 15px 0px;
  }
  .promo-implantes h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 12px;
  }
  .promos-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    width: 80%;
    margin: auto;
  }
  .promos-section a img {
    max-width: 90%;
    transition: all 0.7s;
  }
  .promos-section a img:hover {
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
    transform: scale(0.9);
    transition: all 0.7s;
  }
  .faq-item {
    margin-bottom: 0px;
  }

  .faq-title {
    font-weight: 400;
    font-size: 20px;
    color: white;
  }
  .faq-title strong {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
  }

  .faq-answer {
    margin-top: 5px;
    padding-left: 0px;
    font-size: 16px;
    text-align: justify;
    color: white;
  }
  .faq-title {
    cursor: pointer;
  }
}
